@import "tailwindcss";

@import url("https://fonts.bunny.net/css?family=kanit:400,700");

@theme {
  --color-primary: #0D1321;
  --color-secondary: #C5D86D;
  --color-accent: #FFEDDF;

  --font-sans: "Kanit", sans-serif;
}

html, body {
  @apply bg-white dark:bg-gray-950 text-primary;
  font-family: var(--font-sans);

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
