@import "tailwindcss";
@import url("https://fonts.bunny.net/css?family=kanit:200,400,700");

:root {
  --color-blue: #0D1321;
  --color-green: #C5D86D;
  --color-beige: #FFEDDF;

  --font-sans: "Kanit", sans-serif;
}

body {
  font-family: var(--font-sans);
  background: var(--color-blue);
}

.theme-dark {
  background: transparent;
  color: var(--color-green);

}

.theme-light {
  background: var(--color-green);
  color: var(--color-blue);
}

.custom-placeholder::placeholder {
  font-weight: 100; /* équivalent à font-thin */
  font-style: italic;
  color: var(--color-blue);
}


@keyframes subtleFade {
  0%, 60% { opacity: 0.01; }
  20% { opacity: 0.05; }
}




