@import "tailwindcss";
@import url("https://fonts.bunny.net/css?family=kanit:200,400,700");

:root {
  --color-blue: #0D1321;
  --color-green: #C5D86D;
  --color-beige: #FFEDDF;

  --font-sans: "Kanit", sans-serif;
}

body {
  font-family: var(--font-sans);
  background: var(--color-blue);
}

.theme-dark {
  background: var(--color-blue);
  color: var(--color-green);
}

.theme-light {
  background: var(--color-green);
  color: var(--color-blue);
}



